.mainContainer {
  background-color: white;
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
}

.mainContainer.open {
  transform: translateX(0%);
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 800px) {
  .mainContainer {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .mainContainer {
    width: 80%;
  }
}
